<li class="user">

  <div class="user_image">
    <%= image_tag(UserHelper.profile_pic(user), :class => "profile_thumb") %>
  </div>

  <div class="user_name"><%= user.first_name %> <%= user.last_name %></div>
  <div class="friend_button">
    <% if is_friend %>
      <%= render 'users/unfriend_form', user: user %>
    <% else %>
      <% if @graph.friendship_pending?(@current_user.id, user.id) %>
        <p>Pending</p>
      <% else %>
        <%= render 'users/add_friend_form', user: user %>
      <% end %>
    <% end %>
  </div>
</li>