<div class="user_index">
<h2>All Users</h2>
<ul class="user_list">
  <% @users.each do |user| %>
    <li class="user">
      <div class="user_image"><img src="<%= image_path "person_placeholder.png" %>" height="80px"></div>
      <div class="user_name"><%= user.first_name %> <%= user.last_name %></div>
      <div class="friend_button">
        <% if @graph.are_friends?(@current_user.id, user.id) %>
            <form method="post" action="/friendships/<%= user.id %>">
              <input type="hidden" name="_method" value="delete">
              <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
            <button type="submit">Unfriend</button>
          </form>
        <% else %>
          <form method="post" action="/friendships">
            <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
            <input type="hidden" name="friend_id" value="<%= user.id %>">
            <button type="submit">Add Friend</button>
          </form>
        <% end %>
      </div>
    </li>
  <% end %>
</ul>

</div>
