<div id="profile_container">
  <h2><p><%= @user.first_name %> <%= @user.last_name%>'s Profile</p></h2>
<table>
  <tr><td>First Name:</td><td><%= @user.first_name %></td></tr>
  <tr><td>Last Name:</td> <td><%= @user.last_name %></td></tr>
  <tr><td>Email:</td> <td><%= @user.email %></td></tr>
</table>
</div>