<div id="profile_container" class="one_half">
  <h2><%= @user.first_name %> <%= @user.last_name %>'s Profile</h2>

  <div class="user_image">
      <%= image_tag(UserHelper.profile_pic(@user), :class => "profile_pic") %>
  </div>

  <%= form_for @user do |f| %>
    <table>
      <tr>
        <td>First Name:</td>
        <td><%= @user.first_name %></td>
      </tr>
      <tr>
        <td>Last Name:</td>
        <td><%= @user.last_name %></td>
      </tr>
      <tr>
        <td>Email:</td>
        <td><%= @user.email %></td>
      </tr>
      <tr>
        <td><%= f.label :profile_pic %></td>
        <td><%= f.file_field :profile_pic %>
          <%= f.submit "Upload Picture", class: "zero_margin_button" %>
        </td>
      </tr>
    </table>
  <% end %>
</div>

<div id="posts_container" class="one_half">
  <h2><%= @user.first_name %>'s Wall</h2>
  <%= form_for([@user, @post]) do |f| %>
    <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li class="error"><%= message %></li>
      <% end %>
    </ul>
    <%= f.label :post_body, "What's on your mind?" %>
    <%= f.text_area :post_body %>
    <%= f.submit "Post", class: "zero_margin_button" %>
  <% end %>
  <ul>
    <%= render partial: "users/post", collection: @posts %>
  </ul>
</div>

