<div class="authentication_form">
  <h2>Bradtke's Book</h2>
  <% if @user.errors.present? %>
    <ul>
      <div class="error">

        <% if @user.errors[:password_confirmation].present? %>
          <li><%= @user.errors[:password_confirmation].first %></li>
        <% end %>
        <% @user.errors.delete(:password_confirmation) %>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>

      </div>
    </ul>
  <% end %>

  <%= form_for @user, url: "/users" do |f| %>

    <p><%= f.label :first_name, class: "registration_label" %>
      <%= f.text_field :first_name %></p>

    <p><%= f.label :last_name, class: "registration_label" %>
      <%= f.text_field :last_name %></p>

    <p><%= f.label :email, class: "registration_label" %>
      <%= f.text_field :email %></p>

    <p><%= f.label :password, class: "registration_label" %>
      <%= f.password_field :password %></p>

    <p><%= f.label :password_confirmation, "Confirm password", class: "registration_label" %>
      <%= f.password_field :password_confirmation %></p>

    <p><%= f.submit "Create an Account" %></p>

  <% end %>
</div>
