<!DOCTYPE html>
<html>
<head>
  <title>G2SocialNetwork</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href='https://fonts.googleapis.com/css?family=Roboto|Open+Sans' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="body_wrapper">
  <header>
    <div class="nav-container">
      <div id="left_nav"><a href="/">Bradtke's Book</a></div>
      <div id="right_nav">
        <% if current_user %>
          <%= link_to "Logout", session_path, method: :delete, class:"logout" %>
          
        <% else %>
          <a href="/users/new" class="register">Register</a>
          <a href="/login" class="login">Login</a>
        <% end %>
      </div>
    </div>
  </header>
  <% if flash.present? %>
    <div class="flash_messages">
      <%= flash[:register_message] %>
      <%= flash[:login_message] %>
      <%= flash[:message] %>
      <%= flash[:notice] %>
    </div>
  <% end %>
  <div class="body_container">
    <div class="inner_container">
      <%= yield %>
    </div>
  </div>
  <footer>

  </footer>
</div>
</body>
</html>
